<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://f-thomas.de/">f - thomas.de</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://cloud.f-thomas.de"> <img alt="OC" src="./../static/img/owncloud.png" width="20px"> Owncloud</a>
                    </li>
                    <li>
                        <a href="https://f-thomas.de/myraspi"> <img alt="RPi" src="./../static/img/raspberry.png" width="18px"> MyRaspi</a>
                    </li>
    		    <li>
                        <a href="https://f-thomas.de/ts3"> <img alt="TS3" src="./../static/img/teamspeak.png" width="16px"> TS3 Admin</a>
                    </li>
		    <li>
                        <a href="https://f-thomas.de/phpmyadmin"> <img alt="php" src="./../static/img/php.png" width="20px"> phpmyadmin</a>
                    </li>
		    <li>
                        <a href="https://f-thomas.de/dice"> <img alt="php" src="./../static/img/dice.png" width="20px"> dice-minimal</a>
                    </li>
        	    <li>
                        <a href="https://f-thomas.de/dice2"> <img alt="php" src="./../static/img/dice.png" width="20px"> dice</a>
                    </li>

		    <li>
                        <a href="mailto:flothomas@web.de">  Contact</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
